In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mdaza\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\mdaza\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

C:\Users\mdaza\AppData\Local\Temp\ipykernel_17088\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
list1 = [0,8,4,8,2]
print(list1)

[0, 8, 4, 8, 2]

In [4]:
s = pd.Series(list1)

s

0    0
1    8
2    4
3    8
4    2
dtype: int64

In [5]:
d = pd.Series(list1 , index = ['a' , 'b' , 'c' , 'd' , 'e'])

d

a    0
b    8
c    4
d    8
e    2
dtype: int64

In [6]:
s[0]

0

In [9]:
d['a']

0

In [10]:
d.values

array([0, 8, 4, 8, 2], dtype=int64)

In [11]:
d.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
d['a':'b']

a    0
b    8
dtype: int64

In [13]:
s1 = pd.Series([10,9,8] , index = [0,1,2])
s2 = pd.Series([7,6,7] , index = [1,2,3])


result = s1 + s2

result

0     NaN
1    16.0
2    14.0
3     NaN
dtype: float64

In [15]:
data = {
    'column1':[1,2,3,4],
    'column2':['python' , 'pandas' , 'numpy' , 'powerBI']
}

df = pd.DataFrame(data)

df

   column1  column2
0        1   python
1        2   pandas
2        3    numpy
3        4  powerBI

In [16]:
df['column1']

0    1
1    2
2    3
3    4
Name: column1, dtype: int64

In [18]:
df[['column1' , 'column2']]

   column1  column2
0        1   python
1        2   pandas
2        3    numpy
3        4  powerBI

In [21]:
df['column3'] = [10,20,30,40]

df

   column1  column2  column3
0        1   python       10
1        2   pandas       20
2        3    numpy       30
3        4  powerBI       40

In [23]:
df.iloc[0:3 , 0:2] # integer based indexing

   column1 column2
0        1  python
1        2  pandas
2        3   numpy

In [26]:
 # integer based indexing

df.loc[1 , 'column3']

20

In [28]:
df.loc[3 , 'column2']

'powerBI'

In [9]:
data = pd.read_csv("data2.csv")

df = pd.DataFrame(data)

df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [11]:
df['Duration'] > 60

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167     True
168     True
Name: Duration, Length: 169, dtype: bool

In [10]:

df[df['Duration'] > 60]

     Duration  Pulse  Maxpulse  Calories
51         80    123       146     643.1
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
69        300    108       143    1500.2
70        150     97       129    1115.0
72         90    100       127     700.0
73        150     97       127     953.2
75         90     98       125     563.2
78        120    100       130     500.4
79        270    100       131    1729.0
83        120    100       130     500.0
87        120    100       157    1000.1
90        180    101       127     600.1
99         90     93       124     604.1
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3
109       210    137       184    1860.4
128        90     99       125     466.4
167        75    120       150     320.4
168        75    125       150     330.4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [14]:
df.isna()

     Duration  Pulse  Maxpulse  Calories
0       False  False     False     False
1       False  False     False     False
2       False  False     False     False
3       False  False     False     False
4       False  False     False     False
..        ...    ...       ...       ...
164     False  False     False     False
165     False  False     False     False
166     False  False     False     False
167     False  False     False     False
168     False  False     False     False

[169 rows x 4 columns]

In [16]:
df.isnull()

     Duration  Pulse  Maxpulse  Calories
0       False  False     False     False
1       False  False     False     False
2       False  False     False     False
3       False  False     False     False
4       False  False     False     False
..        ...    ...       ...       ...
164     False  False     False     False
165     False  False     False     False
166     False  False     False     False
167     False  False     False     False
168     False  False     False     False

[169 rows x 4 columns]

In [15]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [17]:
df.isnull().sum() / df.shape[0] * 100

Duration    0.00000
Pulse       0.00000
Maxpulse    0.00000
Calories    2.95858
dtype: float64

In [18]:
df.dropna()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [19]:
df.dropna(axis=1)

     Duration  Pulse  Maxpulse
0          60    110       130
1          60    117       145
2          60    103       135
3          45    109       175
4          45    117       148
..        ...    ...       ...
164        60    105       140
165        60    110       145
166        60    115       145
167        75    120       150
168        75    125       150

[169 rows x 3 columns]

In [24]:
df.fillna(value=0 )

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [27]:
df['Calories'].mean()

364.67218934911244

In [28]:
df['Calories'].fillna( value = df['Calories'].mean() )

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [30]:
df.fillna(method='ffill' , inplace=True)

C:\Users\mdaza\AppData\Local\Temp\ipykernel_17088\3960782513.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill' , inplace=True)

In [31]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [33]:
df.fillna(method='bfill' , inplace=True)

C:\Users\mdaza\AppData\Local\Temp\ipykernel_17088\592715458.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill' , inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [35]:
df.duplicated().sum()

7