In [30]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mdaza\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mdaza\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mdaza\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mdaza\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\mdaza\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pandas as pd

In [32]:
pd.__version__

'1.5.3'

In [33]:
data = {
    'Name': [ 'Azaz' , 'Lux' , 'Harshit' , 'Karan' ] , 
    'Age' : [ 20 , 21 , 19 , 18 ] ,
    'City' : [ 'Delhi' , 'Mumbai' , 'Delhi' , 'Mumbai' ] ,
}

In [34]:

df = pd.DataFrame(data)

In [35]:
df.describe()

             Age
count   4.000000
mean   19.500000
std     1.290994
min    18.000000
25%    18.750000
50%    19.500000
75%    20.250000
max    21.000000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [37]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [38]:
df.shape

(4, 3)

In [39]:
df.index = [1,3,5,7]

In [40]:
df

      Name  Age    City
1     Azaz   20   Delhi
3      Lux   21  Mumbai
5  Harshit   19   Delhi
7    Karan   18  Mumbai

In [41]:
df.index=range(1,8,2)
df

      Name  Age    City
1     Azaz   20   Delhi
3      Lux   21  Mumbai
5  Harshit   19   Delhi
7    Karan   18  Mumbai

In [42]:
df.index

RangeIndex(start=1, stop=8, step=2)

In [43]:
df.reset_index(inplace=True)
df

   index     Name  Age    City
0      1     Azaz   20   Delhi
1      3      Lux   21  Mumbai
2      5  Harshit   19   Delhi
3      7    Karan   18  Mumbai

In [44]:
df.drop('level_0',axis=1 , inplace=True)

KeyError: "['level_0'] not found in axis"

In [ ]:
df.drop('index',axis=1 , inplace=True)

In [ ]:
df

      Name  Age    City
0     Azaz   20   Delhi
1      Lux   21  Mumbai
2  Harshit   19   Delhi
3    Karan   18  Mumbai

In [ ]:
df

      Name  Age    City
0     Azaz   20   Delhi
1      Lux   21  Mumbai
2  Harshit   19   Delhi
3    Karan   18  Mumbai

In [ ]:
ins = df.set_index("Age")

In [46]:
ins

     index     Name    City
Age
20       1     Azaz   Delhi
21       3      Lux  Mumbai
19       5  Harshit   Delhi
18       7    Karan  Mumbai

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.Name

1       Azaz
3        Lux
5    Harshit
7      Karan
Name: Name, dtype: object

In [ ]:
type(df.Name)

pandas.core.series.Series

In [ ]:
s1 = df['Name']
type(s1)

pandas.core.series.Series

In [ ]:
df.Age

1    20
3    21
5    19
7    18
Name: Age, dtype: int64

In [ ]:
r1 = df['Age']
r1

1    20
3    21
5    19
7    18
Name: Age, dtype: int64

In [ ]:
r1.min()

18

In [ ]:
r1.max()

21

In [ ]:
r1.mean()

19.5

In [ ]:
lists = [1,2,3,4,5,6]
type(lists)

list

In [ ]:
s1 = pd.Series(lists)
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64