In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mdaza\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\mdaza\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
import pandas as pd

In [3]:
pd.__version__

'2.2.0'

In [41]:
data = {
    'Name': [ 'Azaz' , 'Lux' , 'Harshit' , 'Karan' ] , 
    'Age' : [ 20 , 21 , 19 , 18 ] ,
    'City' : [ 'Delhi' , 'Mumbai' , 'Delhi' , 'Mumbai' ] ,
}

In [6]:

df = pd.DataFrame(data)

df

      Name  Age    City
0     Azaz   20   Delhi
1      Lux   21  Mumbai
2  Harshit   19   Delhi
3    Karan   18  Mumbai

In [43]:
df.describe()

             Age
count   4.000000
mean   19.500000
std     1.290994
min    18.000000
25%    18.750000
50%    19.500000
75%    20.250000
max    21.000000

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [46]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [47]:
df.shape

(4, 3)

In [ ]:
df.=

In [8]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.Name

0       Azaz
1        Lux
2    Harshit
3      Karan
Name: Name, dtype: object

In [9]:
type(df.Name)

pandas.core.series.Series

In [11]:
s1 = df['Name']
type(s1)

pandas.core.series.Series

In [12]:
df.Age

0    20
1    21
2    19
3    18
Name: Age, dtype: int64

In [18]:
r1 = df['Age']
r1

0    20
1    21
2    19
3    18
Name: Age, dtype: int64

In [19]:
r1.min()

18

In [22]:
r1.max()

21

In [23]:
r1.mean()

19.5

In [24]:
lists = [1,2,3,4,5,6]
type(lists)

list

In [26]:
s1 = pd.Series(lists)
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64